* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}

.boxcenter {
    width: 60%;
    margin: 0 auto;

}

.mr {
    margin-right: 2%;
}

.row1 {
    float: left;
    width: 100%;
    /* color: #cecece; */
}

.flexsp {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 31.2%;
    margin-bottom: 20px;        
    /* margin-right: 10px; */
}

.trong{
    width: 21px;
}

.boxsp img {
    height: 150px;
    width: 200px;
    text-align: center;
    object-fit: cover;
}

.mb {
    margin-bottom: 20px;

}

.demo {
    background-color: rgb(255, 255, 255);
    min-height: 100px;
}

.header {
    background-color: antiquewhite;
    border: 1px #090 solid;
    color: blue;
    border-radius: 5px;

}

.header h1 {
    margin: 20px;
    font-size: 1.2vw;
}

.mb10 {
    margin-bottom: 10px;
}

.menu {
    background-color: black;
    color: #ccc;
    border-radius: 5px;
}

.boxphai {
    float: left;
    width: 24%;
}

.boxtrai {
    float: left;
    width: 74%;
}

.footer {
    background-color: antiquewhite;
    border: 1px #090 solid;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px;
}

.boxtitle {
    color: #333;
    padding: 10px;
    background-color: #EEE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;

}

.boxcontent {
    color: #333;
    padding: 10px;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    min-height: 200px;
    padding: 20px;
}

.boxcontent2 {
    background-color: #EEE;

    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;


}

.boxfooter {
    background-color: rgb(232, 232, 232);
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #ccc solid;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.banner {
    min-height: 300px;
    width: 99%;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 2px;
}

.banner img {
    width: 100%;
    height: 300px;

}

.boxsp {
    float: left;
    min-height: 230px;
    border: #EEE solid;
    border-radius: 5px;
    margin-bottom: 0px;
    /* vua them */
    position: relative; 
}
.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* background-color: #0056b3; */
}

.menu{
    display: flex;
}

.menu ul {
    padding: 10px;
    display: flex;

}

.menu ul li {
    list-style-type: none;
    display: inline;
    /* padding: 0px 15px; */

}

.menu ul li a {
    color: #ccc;
    text-decoration: none;
    width: 100%;
    display: block;
}

.menu ul li a:hover {
    color: white;
    /* font-size: 1vw; */
    /* font-weight: bold; */

}
.menu ul{
    padding-bottom: 0;
    padding-top: 0;
    /* background-color: #0056b3; */
    margin: 0;
    line-height: 50px;
}

.menu ul li{
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    width: 90px;
    display: inline;
    list-style-type: none;
}

#search{
    width: 240px;
    margin-left: 200px;
}

#search:hover{
    background-color: #000;
    color: #000;
}

#search form>*{
    line-height: 20px;
    height: 25px;
}

#search button a{
    color: #000;
    text-decoration: none;
}

.menu ul li:hover>a{
    /* padding: 18px 15px 19px 15px; */
    font-weight: bold;
    /* font-size: small; */
    color: rgb(255, 255, 255);
}

.menu ul li:hover{
    background-color: rgb(71, 71, 71);
    /* margin: 0; */
}

.fomttaikhoan {
    line-height: 150%;
}

.fomttaikhoan input[type="text"],
.fomttaikhoan input[type="password"],
.frmcontent input[type="text"] {
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
}

.fomttaikhoan input[type="checkbox"] {
    border-radius: 5px;
}

.fomttaikhoan input[type="submit"],
.frmcontent input[type="submit"],
.frmcontent input[type="button"],
.frmcontent input[type="reset"] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px #ccc solid;
}

.fomttaikhoan input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,
.frmcontent input[type="button"]:hover,
.frmcontent input[type="reset"]:hover {
    background-color: #ccc;
}

.fomttaikhoan li a {
    color: teal;
    text-decoration: none;
}

.fomttaikhoan li a:hover {
    color: #590;
    text-decoration: underline;
}

.menudoc ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menudoc ul li {
    padding: 10px 20px;
    background-color: #fff;

    border-bottom: 1px #ccc solid;
}

.menudoc ul li a {
    color: #666;
    text-decoration: none;
}

.menudoc ul li:hover {
    background-color: #ccc;
}

.searbox input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    background-color: #EEE;
    border: 1px #CCC solid;
    border-radius: 5px;
}

.top10 img {
    width: 20%;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #CCC solid;


}

.top10 a {
    color: #666;
    text-decoration: none;
}

.top10 a:hover {
    color: #000;
    text-decoration: underline;
}

.headeradmin {
    background-color: #EEE;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;

}

.headeradmin h1 {
    font-size: 2vw;
}

.frmtitle {
    background-color: #EEE;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}

.frmcontent {
    padding: 20px 0px;
}

.frmsloai table {
    width: 100%;
    border-collapse: collapse;
    border: 1px #999 solid;
}

.frmsloai table th:nth-child(1) {
    width: 10%;
    padding: 23px;
    background-color: #CCC;

}

.frmsloai table th:nth-child(2) {
    width: 30%;
    background-color: #CCC;


}

.frmsloai table th:nth-child(3) {
    width: 40%;
    background-color: #CCC;

}

.frmsloai table th:nth-child(4) {
    width: 20%;
    background-color: #CCC;

}

.frmsloai table td {
    padding: 10px 20px;
    border: 1px #999 solid;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#tenhh a {
    margin-left: 10px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 13px;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden;   /* Ẩn nội dung vượt ra khỏi phạm vi */
    text-overflow: ellipsis; /* Hiển thị dấu chấm (...) khi văn bản bị cắt */
    max-width: 90%; /* Tự động thay đổi kích thước theo chiều ngang */
    display: inline-block; /* Để ngăn chữ tràn ra ngoài phạm vi cha */
}
.cart-button {
    padding-top: 13px;
    padding-left: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px; /* Điều chỉnh khoảng cách từ phía trên */
    right: 10px; /* Điều chỉnh khoảng cách từ phía phải */
    background-color: #444444; /* Màu nền của nút */
    color: #fff; /* Màu chữ trắng */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Hiệu ứng hover */

}


.cart-button:hover {
    background-color: #0056b3; /* Màu nền khi di chuột qua nút */
}

.khung_gia {
    margin-left: 10px;
    position: absolute;
    font-weight: bolder;
    font-size: 13px;
    color: red;
}

.gia_goc {
    text-decoration: line-through;
    /* position: absolute; */
    top: 0;
    right: 0;
    color: #666;
}

#sale {
    width: 60px;
    height: 40px;
    background-image: url(../images/salered.png);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.boxsp {
    position: relative;
    /* margin-left: 15px; */
}

iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}